/* Variables */
:root {
  --yellow-color: #e1b959;
  --blue-color: #7cb5da;
  --red-color: #dd2432;
}

#root {
  height: 100vh;
}
html,
body {
  height: 100%;
  margin: 0;
}
/* .root {
  min-height: 100%;
  margin-bottom: -50px;
} */
/* Super contenedor */
/* .super-container {
  padding-bottom: 50px;
  height: inherit;
} */
/* Botón de apertura de la hamburguesa */
.btn-open {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  border-radius: 50%;
  padding: 0;
  width: 4rem;
  height: 4rem;
  background-color: #f8f9fa;
  z-index: 999;
}

/* Botón de modo claro, oscuro */
.btn-mode {
  position: fixed;
  bottom: 1vh;
  left: 1vw;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  z-index: 999;
}
.body-canvas {
  display: flex;
  flex-direction: column;
}
.link-canvas {
  text-decoration: none;
  padding: 2rem;
  color: #000;
}
.link-canvas:hover {
  background-color: #f8f9fa80;
  transition: background 0.7s ease-out;
}
.container-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-img {
  width: 10rem;
  text-align: center;
}
/* Barra de color */
.color-bar {
  display: flex;
}
.bar-content {
  display: block;
  width: 100%;
  padding: 5px;
}
.yellow {
  background-color: var(--yellow-color);
}
.blue {
  background-color: var(--blue-color);
}
.red {
  background-color: var(--red-color);
}
/* tamaño del logo */
.main-logo {
  width: 12rem;
  margin-top: 1rem;
}

/* barra de color del sitio */
.color {
  background-color: #dcdcdc;
  border-radius: 50px;
}

/* Botones de la opciones de la tabla */
.btn-options {
  display: flex;
}
/* estilos ventana modal */
.modal-opacity {
  opacity: 0.4;
}
/* Formulario de busqueda */
.header-types {
  display: flex;
  justify-content: space-between;
}
/* Cards de inventarios */
.cards {
  margin-top: 1rem;
}
.card-text {
  margin-bottom: 0.4rem;
}
.col img {
  height: 100%;
}
/* Lista de opciones de la card */
.dropdown-item.edit:active {
  background-color: #0dcaf0;
}
.dropdown-item.delete:active {
  background-color: #ffc107;
}

/* Tabla de datos */
.table {
  margin-top: 2rem;
}
/* Refresh botón */
.refresh {
  background: none;
  border: none;
}
.refresh:hover {
  background-color: #dcdcdc;
  border-radius: 13px;
}
.refresh svg {
  width: 1.5rem;
}
/* Formulario inventarios */
.row-input {
  display: flex;
  justify-content: space-between;
}
.cards-group {
  margin-top: 1rem;
}
.card {
  box-shadow: -1px -1px 6px 0 rgba(20, 20, 20, 0.2);
  transition: all 0.3s ease-out;
}
.card:hover {
  cursor: pointer;
  box-shadow: -1px -1px 20px 0 #0d6efd;
}
